name: Build and Push DevContainer Image

on:
  push:
    branches: ["main"]
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .devcontainer/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/milesburton/devcontainer-template:latest
            ghcr.io/milesburton/devcontainer-template:${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/milesburton/devcontainer-template:buildcache
          cache-to: type=registry,ref=ghcr.io/milesburton/devcontainer-template:buildcache,mode=max
